.main.container {
  padding-top: 5em;
}

.tiny.button {
  font-size: .85714286rem !important;
}

.mini.button {
  font-size: .71428571rem !important;
}

.nopaddingtop{
  padding-top: 0 !important;
}
.nopaddingtop th{
  padding-top: 0.4em !important;
  padding-bottom: 0.4em !important;
}
.scrollable10rows{
  max-height: 26em !important;
  overflow-y: auto;
}

.segment.small {
  padding: 0.5em;
}

.nopadding {
  padding: 0 !important;
}

tr.lesspadding th {
  padding: 0.5em !important;
  padding-top: 0.2em !important;
}

.nomargin { margin: 0 !important; }
