/*     globals     */

.hidden{display: none !important}

/*     globals     */
.main.container {
  padding-top: 5em;
}

.tiny.button {
  font-size: .85714286rem !important;
}

.mini.button {
  font-size: .71428571rem !important;
}

.nopaddingtop{
  padding-top: 0 !important;
}
.nopaddingtop th{
  padding-top: 0.4em !important;
  padding-bottom: 0.4em !important;
}
.scrollable10rows{
  max-height: 26em !important;
  overflow-y: auto;
}

.ui.form .field.nomargin{
  margin: 0 0 0.4em !important;
}

.field .right.aligned{
  float: right;
  margin-right: 0;
}



.segment.small {
  padding: 0.5em;
}

.nopadding {
  padding: 0 !important;
}

tr.lesspadding th {
  padding: 0.5em !important;
  padding-top: 0.2em !important;
}

.nomargin { margin: 0 !important; }

/* notifications */

.ui.down.floating{
  top:1.8em !important;
  left:53% !important;
}
.ui.item.pointer{
  cursor: pointer;
}
.notification.container{
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 350px;
}

.item .ui.header .icon{
  vertical-align: inherit !important;

}

.ui.table td.info, .ui.table tr.info {
    box-shadow: 0 0 0 #a9d5de inset;
    background-color: #f8ffff;
    color: #276f86;
}

.ui.table td.chat, .ui.table tr.chat {
    background: #f6e7ff;
    color: #a333c8 !important;
}

/* notifications */

/* seamntic input */

.ui.input[class*="right left action"] > input, .ui.input[class*="left right action"] > input  {
    border-radius: 0 !important;
    border-left: medium none;
    border-right: medium none;
}

.ui.action.input[class*="right left action"]:first-child,
.ui.action.input[class*="right left action"] > .buttons:first-child > .button,
.ui.action.input[class*="right left action"] > .dropdown:first-child
.ui.action.input[class*="left right action"]:first-child,
.ui.action.input[class*="left right action"] > .buttons:first-child > .button,
.ui.action.input[class*="left right action"] > .dropdown:first-child{
    border-radius: 0.285714rem 0 0 0.285714rem !important;
}
