/*     globals     */

html, body{
  font-size: 11px;
}

#react-root{height: 100%;}
.hidden{display: none !important}

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.ui.body{display: block;}

.ui.fixed.menu{
  position: absolute !important;
}

/* Semantic new grey */
.ui.inverted.newgrey{
  background-color: #15232c;
  color:#fff;
}

.ui.inverted.newgrey .ui.header{
  color: #fff;
  font-weight: normal;
}

.ui.inverted.newgrey.menu{
  background-color: #2f3d45;
  color:#ced2d5;
}

.ui.inverted.newgrey .basic.menu .item{
  color:#ced2d5;
  margin-bottom: 2px;
  padding-bottom: 11px;
}

.ui.inverted.newgrey .basic.menu .item.active{
  color:#fff;
  border-style: none none solid;
  border-bottom: 2px solid #fff;
  background: none !important;
  margin-bottom: -1px;
  padding-bottom: 9px;
}

.ui.inverted.newgrey.menu .item.active{
  background-color: rgba(255, 255, 255, 0.15);
  color:#ced2d5;
}

.ui.inverted.newgrey .segment{
  background-color: #1e2b34;
}
.ui.inverted.newgrey .ui.table {
    color: rgba(200, 200, 200, 0.67);
}

.ui.inverted.newgrey .ui.table td.negative, .ui.inverted.newgrey .ui.table tr.negative {
    background: rgba(255, 255, 255, 0.01) none repeat scroll 0 0 !important;
    color: rgba(240, 150, 150, 0.67) !important;
}
.ui.inverted.newgrey .ui.table td.positive, .ui.inverted.newgrey .ui.table tr.positive {
    background: rgba(255, 255, 255, 0.01) none repeat scroll 0 0 !important;
    color: rgba(150, 240, 150, 0.67) !important;
}
.ui.inverted.newgrey .ui.table td.negative:hover, .ui.inverted.newgrey .ui.table tr.negative:hover {
  background: rgba(255, 145, 67, 0.08) none repeat scroll 0 0 !important;
}
.ui.inverted.newgrey .ui.table td.positive:hover, .ui.inverted.newgrey .ui.table tr.positive:hover {
  background: rgba(132, 247, 102, 0.08) none repeat scroll 0 0 !important;
}

.ui.inverted.newgrey .ui.button{
  background: none !important;
  color: #767676;
  border: 1px solid #767676;
}

.ui.inverted.newgrey .ui.blue.button{color: #2185d0 !important; border: 1px solid #2185d0;}
.ui.inverted.newgrey .ui.red.button, .ui.inverted.newgrey .ui.negative.button{color: #db2828 !important; border: 1px solid #db2828;}
.ui.inverted.newgrey .ui.orange.button{color: #f2711c !important; border: 1px solid #f2711c;}
.ui.inverted.newgrey .ui.yellow.button{color: #fbbd08 !important; border: 1px solid #fbbd08;}
.ui.inverted.newgrey .ui.olive.button{color: #b5cc18 !important; border: 1px solid #b5cc18;}
.ui.inverted.newgrey .ui.green.button, .ui.inverted.newgrey .ui.positive.button{color: #21ba45 !important; border: 1px solid #21ba45;}
.ui.inverted.newgrey .ui.teal.button{color: #00b5ad !important; border: 1px solid #00b5ad;}
.ui.inverted.newgrey .ui.violet.button{color: #6435c9 !important; border: 1px solid #6435c9;}
.ui.inverted.newgrey .ui.purple.button{color: #a333c8 !important; border: 1px solid #a333c8;}
.ui.inverted.newgrey .ui.pink.button{color: #e03997 !important; border: 1px solid #e03997;}
.ui.inverted.newgrey .ui.brown.button{color: #a5673f !important; border: 1px solid #a5673f;}
.ui.inverted.newgrey .ui.grey.button{color: #767676 !important; border: 1px solid #767676;}
.ui.inverted.newgrey .ui.white.button{color: #ffffff !important; border: 1px solid #ffffff;}
.ui.inverted.newgrey .ui.black.button{color: #1b1c1d !important; border: 1px solid #1b1c1d;}

.ui.inverted.newgrey .ui.form .field > label {
    color: #ced2d5;
    margin: 0.8rem 0;
}


.ui.inverted.newgrey .ui.form input:not([type]),
.ui.inverted.newgrey .ui.form input[type="text"],
.ui.inverted.newgrey .ui.form input[type="email"],
.ui.inverted.newgrey .ui.form input[type="search"],
.ui.inverted.newgrey .ui.form input[type="password"],
.ui.inverted.newgrey .ui.form input[type="date"],
.ui.inverted.newgrey .ui.form input[type="datetime-local"],
.ui.inverted.newgrey .ui.form input[type="tel"],
.ui.inverted.newgrey .ui.form input[type="time"],
.ui.inverted.newgrey .ui.form input[type="url"],
.ui.inverted.newgrey .ui.form input[type="number"] {
    background: rgba(206, 210, 213, 0.05) none repeat scroll 0 0;
    border: 1px solid rgba(206, 210, 213, 0.15);
    color: rgba(200, 200, 200, 0.67);
    transition: color 0.1s ease 0s, border-color 0.1s ease 0s;
}
.ui.inverted.newgrey .ui.form input:focus{
  border-color: rgba(206, 210, 213, 0.35);
  color: rgba(200, 200, 200, 0.77);
}

.ui.inverted.newgrey .sidebar{
  background-color: #2f3d45;
  color:#ced2d5 ;
}
.ui.inverted.newgrey .ui.comments .comment .author, .ui.inverted.newgrey .ui.comments .comment .text{
  color:#ced2d5 ;
}
.ui.inverted.newgrey .ui.comments .comment .metadata {
  color: rgba(200, 200, 200, 0.2);
}

.ui.grid{
  height: 100%
}
.ui.grid > .column{
  padding-left: 0.1rem !important;
  padding-right: 0.1rem !important;
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
  margin: 0 !important;
  height: 100% !important;
}
.ui.grid > .column .h50.segment{
  height: 50% !important;
  margin: 0 0 0.2rem 0;
}

.ui.grid > .column .h100.segment{
  height: 100% !important;
  margin-bottom: 0.2rem;
}

.main.container{
  height: 100%;
  padding-top: 4.5em !important;
}

.ui.segments{
  border: none !important;
}
/* Semantic new grey */




/*colors*/
.ui.blue.text{color: #2185d0 !important}
.ui.red.text{color: ##db2828 !important}
.ui.orange.text{color: #f2711c !important}
.ui.yellow.text{color: #fbbd08 !important}
.ui.olive.text{color: #b5cc18 !important}
.ui.green.text{color: #21ba45 !important}
.ui.teal.text{color: #00b5ad !important}
.ui.violet.text{color: #6435c9 !important}
.ui.purple.text{color: #a333c8 !important}
.ui.pink.text{color: #e03997 !important}
.ui.brown.text{color: #a5673f !important}
.ui.grey.text{color: #767676 !important}
.ui.white.text{color: #ffffff !important}
.ui.black.text{color: #1b1c1d !important}

.ui.markered.text{color: #ffffff !important}

.ui.blue.markered.text{background-color: #2185d0 !important; }
.ui.red.markered.text{background-color: ##db2828 !important}
.ui.orange.markered.text{background-color: #f2711c !important}
.ui.yellow.markered.text{background-color: #fbbd08 !important}
.ui.olive.markered.text{background-color: #b5cc18 !important}
.ui.green.markered.text{background-color: #21ba45 !important}
.ui.teal.markered.text{background-color: #00b5ad !important}
.ui.violet.markered.text{background-color: #6435c9 !important}
.ui.purple.markered.text{background-color: #a333c8 !important}
.ui.pink.markered.text{background-color: #e03997 !important}
.ui.brown.markered.text{background-color: #a5673f !important}
.ui.grey.markered.text{background-color: #767676 !important}
.ui.white.markered.text{background-color: #ffffff !important}
.ui.black.markered.text{background-color: #1b1c1d !important}

/*     globals     */
.main.container {
  padding-top: 5em;
}

.tiny.button {
  font-size: .85714286rem !important;
}

.mini.button {
  font-size: .71428571rem !important;
}

.nopaddingtop{
  padding-top: 0 !important;
}
.nopaddingtop th{
  padding-top: 0.4em !important;
  padding-bottom: 0.4em !important;
}
.scrollable10rows{
  max-height: 26em !important;
  overflow-y: auto;
}

.ui.form .field.nomargin{
  margin: 0 0 0.4em !important;
}

.field .right.aligned{
  float: right;
  margin-right: 0;
}



.segment.small {
  padding: 0.5em;
}

.nopadding {
  padding: 0 !important;
}

tr.lesspadding th {
  padding: 0.5em !important;
  padding-top: 0.2em !important;
}

.nomargin { margin: 0 !important; }

/* notifications */

.ui.down.floating{
  top:1.8em !important;
  left:53% !important;
}
.ui.item.pointer{
  cursor: pointer;
}
.notification.container{
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 350px;
  z-index: 9999;
}

.item .ui.header .icon{
  vertical-align: inherit !important;

}

.ui.table td.info, .ui.table tr.info {
    box-shadow: 0 0 0 #a9d5de inset;
    background-color: #f8ffff;
    color: #276f86;
}

.ui.table td.chat, .ui.table tr.chat {
    background: #f6e7ff;
    color: #a333c8 !important;
}

/* notifications */

/* semantic input */

.ui.input[class*="right left action"] > input, .ui.input[class*="left right action"] > input  {
    border-radius: 0 !important;
    border-left: medium none;
    border-right: medium none;
}


.ui.action.input[class*="right left action"] > .button:first-child,
.ui.action.input[class*="right left action"] > .buttons:first-child > .button,
.ui.action.input[class*="right left action"] > .dropdown:first-child,
.ui.action.input[class*="left right action"] > .button:first-child,
.ui.action.input[class*="left right action"] > .buttons:first-child > .button,
.ui.action.input[class*="left right action"] > .dropdown:first-child{
    border-radius: 0.285714rem 0 0 0.285714rem !important;
}
.ui.labeled.input > .label:first-child{
    border-radius: 0.285714rem 0 0 0.285714rem !important;
}
.ui.labeled.input > .label:last-child{
    border-radius: 0 0.285714rem 0.285714rem 0 !important;
}
/* \semantic input */


/* Semantic sidebar */
.ui.sidebar {
    position: fixed !important;
    overflow-y: visible !important;
}
.forsidebar{
  position: fixed;
  right: 0px;
  top: 80px;
  width: 60px;
  z-index: 999;
  opacity: 0.3;
}
.forsidebar.above{
  z-index: 9999;
}

.ui.visible.right.sidebar ~ .fixed, .ui.visible.right.sidebar ~ .pusher {
    padding-left: 260px;
    transition: padding-left 500ms, transform 500ms ease 0s;
}

.ui.right.sidebar ~ .fixed, .pushable .pusher {
    padding-left: 0px;
    transition: padding-left 500ms, transform 500ms ease 0s;
}

.contwrapper{
  height: 100% !important;
  overflow-y: auto;
  margin-right: -20px;
  overflow-x: hidden;
  padding: 0 15px 0 10px;
}
.pushable > .pusher {
  height: 100% !important;
}


/* Semantic sidebar */

/* Semantic chat */

.ui.chat{
  height: 100% !important;
  padding-bottom: 140px !important;
  margin-right: -10px;
}

.ui.chat.comments{
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 0 !important;
}

.ui.chatform{
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 240px
}

/* Semantic chat */
