/*     globals     */

html, body{
  font-size: 11px;
}

#react-root{height: 100%;}
.hidden{display: none !important}

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.ui.body{display: block;}

:not(.buttons) > .ui.button{
  margin: 0 0.5em 0 0 !important;
}

.ui.segment.centered{
  text-align: center;
}

.ui.segment.centered > .centered{
  margin: 0 auto;
}

.ui.fixed.menu{
  position: absolute !important;
}

/* Semantic new grey */
.ui.inverted.newgrey{
  background-color: #15232c;
  color:#fff;
}

.ui.inverted.newgrey .ui.header{
  color: #fff;
  font-weight: normal;
}

.ui.inverted.newgrey.menu{
  background-color: #2f3d45;
  color:#ced2d5;
}

.ui.inverted.newgrey .basic.menu .item{
  color:#ced2d5;
  margin-bottom: 2px;
  padding-bottom: 11px;
}

.ui.inverted.newgrey .basic.menu .item.active{
  color:#fff;
  border-style: none none solid;
  border-bottom: 2px solid #fff;
  background: none !important;
  margin-bottom: -1px;
  padding-bottom: 9px;
}

.ui.inverted.newgrey.menu .item.active{
  background-color: rgba(255, 255, 255, 0.15);
  color:#ced2d5;
}

.ui.inverted.newgrey .segment{
  background-color: #1e2b34;
}
.ui.inverted.newgrey .ui.table {
    color: rgba(200, 200, 200, 1);
}
.ui.inverted.newgrey .ui.table thead th{
  color: rgba(220, 220, 220, 1);
}


.ui.inverted.newgrey .ui.table td.negative.arr::after{
  font-family: Icons;
  content: "\f175";
  display: block;
  float: right;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ui.inverted.newgrey .ui.table td.positive.arr::after{
  font-family: Icons;
  content: "\f176";
  display: block;
  float: right;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@-webkit-keyframes flash {
  0% {opacity: 1;}
  100% {opacity: 0.6;}
}
@-moz-keyframes flash {
  0% {opacity: 1;}
  100% {opacity: 0.6;}
}
@-o-keyframes flash {
  0% {opacity: 1;}
  100% {opacity: 0.6;}
}
@keyframes flash {
  0% {opacity: 1;}
  100% {opacity: 0.6;}
}



.ui.inverted.newgrey .leveler{
  display: block;
  height: 2px;
  margin-top: 1.2em;
}
.ui.inverted.newgrey .leveler.negative{
  background-color: rgba(240, 150, 150, 1);
}
.ui.inverted.newgrey .leveler.positive{
  background-color: rgba(150, 240, 150, 1);
}

.ui.inverted.newgrey .bignum{
  display: block;
  float: left;
}
.ui.inverted.newgrey .bignum.left{
  width: 40%;
  text-align: right;
}
.ui.inverted.newgrey .bignum.dot{
  width: 4%;
}
.ui.inverted.newgrey .bignum.right{
  width: 50%;
  text-align: left;
}
.ui.inverted.newgrey .bignum.right span:first-child{
  font-weight: bold;
}
.ui.inverted.newgrey .bignum.right span:last-child{
  opacity: 0.6;
}


.ui.inverted.newgrey .ui.table tr.animate {

  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash;
  /* Задержка перед началом */
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  /* Продолжительность анимации */
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  transition-timing-function:ease-in;
  opacity: 0.6;
}
.ui.inverted.newgrey .ui.table tr {
  transition: all .15s ease-in-out;
  opacity: 0.40;
  font-family: 'opensans', sans-serif;
}

.ui.inverted.newgrey .ui.table td {
  padding: 0.3em 0.2em;
}

.ui.inverted.newgrey .ui.table td.negative, .ui.inverted.newgrey .ui.table tr.negative {
    background: rgba(255, 255, 255, 0.01) none repeat scroll 0 0 !important;
    color: rgba(240, 150, 150, 1) !important;
}

.ui.inverted.newgrey .ui.table td.positive, .ui.inverted.newgrey .ui.table tr.positive {
    background: rgba(255, 255, 255, 0.01) none repeat scroll 0 0 !important;
    color: rgba(150, 240, 150, 1) !important;
}
.ui.inverted.newgrey .ui.table tr:hover, .ui.inverted.newgrey .ui.table tr:hover td{
  background: rgba(255, 255, 255, 0.09) none repeat scroll 0 0 ;
  color: rgba(240, 240, 240, 1);
  opacity: 0.87 !important;
}
.ui.inverted.newgrey .ui.table td.negative:hover, .ui.inverted.newgrey .ui.table tr:hover td.negative{
  background: rgba(255, 255, 255, 0.09) none repeat scroll 0 0 !important;
  color: rgba(240, 150, 150, 1) !important;
  opacity: 0.87;
}
.ui.inverted.newgrey .ui.table td.positive:hover, .ui.inverted.newgrey .ui.table tr:hover td.positive{
  background: rgba(255, 255, 255, 0.09) none repeat scroll 0 0 !important;
  color: rgba(150, 240, 150, 1) !important;
  opacity: 0.87;
}

.ui.inverted.newgrey .ui.table.heading{
  margin-top: -2em !important;
}

.ui.inverted.newgrey .ui.table tr.opacity, .ui.inverted.newgrey .ui.table tr.opacity td, .ui.inverted.newgrey .ui.table tr.opacity:hover td, .ui.inverted.newgrey .ui.table tr.opacity:hover{
  opacity: 0.9 !important;

}

.ui.inverted.newgrey .ui.table .direction{
  display: block;
  float: left;
  width: 100%;
}


.ui.inverted.newgrey .ui.table .horizontal.segments{
  padding: 0;
  margin: 0;
}

.ui.inverted.newgrey .ui.button{
  background: none;
  color: #767676;
  border: 1px solid #767676;
}

.ui.dropdown .menu > .item > .label{
  float: right;
}

.ui.inverted.newgrey .ui.blue.button{color: #2185d0; border: 1px solid #2185d0;}
.ui.inverted.newgrey .ui.red.button, .ui.inverted.newgrey .ui.negative.button{color: #db2828; border: 1px solid #db2828;}
.ui.inverted.newgrey .ui.orange.button{color: #f2711c; border: 1px solid #f2711c;}
.ui.inverted.newgrey .ui.yellow.button{color: #fbbd08; border: 1px solid #fbbd08;}
.ui.inverted.newgrey .ui.olive.button{color: #b5cc18; border: 1px solid #b5cc18;}
.ui.inverted.newgrey .ui.green.button, .ui.inverted.newgrey .ui.positive.button{color: #21ba45; border: 1px solid #21ba45;}
.ui.inverted.newgrey .ui.teal.button{color: #00b5ad; border: 1px solid #00b5ad;}
.ui.inverted.newgrey .ui.violet.button{color: #6435c9; border: 1px solid #6435c9;}
.ui.inverted.newgrey .ui.purple.button{color: #a333c8; border: 1px solid #a333c8;}
.ui.inverted.newgrey .ui.pink.button{color: #e03997; border: 1px solid #e03997;}
.ui.inverted.newgrey .ui.brown.button{color: #a5673f; border: 1px solid #a5673f;}
.ui.inverted.newgrey .ui.grey.button{color: #767676; border: 1px solid #767676;}
.ui.inverted.newgrey .ui.white.button{color: #ffffff; border: 1px solid #ffffff;}
.ui.inverted.newgrey .ui.black.button{color: #1b1c1d; border: 1px solid #1b1c1d;}

.ui.inverted.newgrey .ui.button.normal{color: #FFF !important;}
.ui.inverted.newgrey .ui.blue.button.normal{background: #2185d0 !important;}
.ui.inverted.newgrey .ui.red.button.normal, .ui.inverted.newgrey .ui.negative.button.normal{background: #db2828 !important;}
.ui.inverted.newgrey .ui.orange.button.normal{background: #f2711c !important;}
.ui.inverted.newgrey .ui.yellow.button.normal{background: #fbbd08 !important;}
.ui.inverted.newgrey .ui.olive.button.normal{background: #b5cc18 !important;}
.ui.inverted.newgrey .ui.green.button.normal, .ui.inverted.newgrey .ui.positive.button.normal{background: #21ba45 !important;}
.ui.inverted.newgrey .ui.teal.button.normal{background: #00b5ad !important;}
.ui.inverted.newgrey .ui.violet.button.normal{background: #6435c9 !important;}
.ui.inverted.newgrey .ui.purple.button.normal{background: #a333c8 !important;}
.ui.inverted.newgrey .ui.pink.button.normal{background: #e03997 !important;}
.ui.inverted.newgrey .ui.brown.button.normal{background: #a5673f !important;}
.ui.inverted.newgrey .ui.grey.button.normal{background: #767676 !important;}
.ui.inverted.newgrey .ui.white.button.normal{background: #ffffff !important; color: #333 !important;}
.ui.inverted.newgrey .ui.black.button.normal{background: #1b1c1d !important;}

.ui.inverted.newgrey .ui.form .field > label {
    color: #ced2d5;
    margin: 0.8rem 0;
}


.ui.inverted.newgrey .ui.form input:not([type]),
.ui.inverted.newgrey .ui.form input[type="text"],
.ui.inverted.newgrey .ui.form input[type="email"],
.ui.inverted.newgrey .ui.form input[type="search"],
.ui.inverted.newgrey .ui.form input[type="password"],
.ui.inverted.newgrey .ui.form input[type="date"],
.ui.inverted.newgrey .ui.form input[type="datetime-local"],
.ui.inverted.newgrey .ui.form input[type="tel"],
.ui.inverted.newgrey .ui.form input[type="time"],
.ui.inverted.newgrey .ui.form input[type="url"],
.ui.inverted.newgrey .ui.form input[type="number"] {
    background: rgba(206, 210, 213, 0.05) none repeat scroll 0 0;
    border: 1px solid rgba(206, 210, 213, 0.15);
    color: rgba(200, 200, 200, 0.67);
    transition: color 0.1s ease 0s, border-color 0.1s ease 0s;
}
.ui.inverted.newgrey .ui.form input:focus{
  border-color: rgba(206, 210, 213, 0.35);
  color: rgba(200, 200, 200, 0.77);
}

.ui.inverted.newgrey .sidebar{
  background-color: #2f3d45;
  color:#ced2d5 ;
}
.ui.inverted.newgrey .ui.comments .comment .author, .ui.inverted.newgrey .ui.comments .comment .text{
  color:#ced2d5 ;
}
.ui.inverted.newgrey .ui.comments .comment .metadata {
  color: rgba(200, 200, 200, 0.2);
}

.ui.inverted.newgrey .ui.grid{
  height: 100%
}
.ui.inverted.newgrey .ui.grid > .column{
  padding-left: 0.1rem !important;
  padding-right: 0.1rem !important;
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
  margin: 0 !important;
  height: 100% !important;
}


.ux h3.ui.header{
  margin-top: -3rem !important;
}
.main.container{
  height: 100%;
  padding-top: 4.7em;
}
.ui.inverted.newgrey .main.container{
  height: 100%;
  padding-top: 3.7em;
}

.ui.segments{
  border: none !important;
}

.ui.toggle.checkbox .box::before, .ui.toggle.checkbox label::before {
    background: rgba(200, 200, 200, 0.77);

}

.ui.toggle.checkbox .box:hover::before, .ui.toggle.checkbox label:hover::before {
    background: rgba(150, 160, 170, 0.77);

}

/* Semantic new grey */

/* UX grid */

.ux.grid{
  padding-left: 508px;
  padding-right: 268px;
}
.ux.grid.fullheight, .ux.grid.fullheight .ux.column{
  height: 100%;
}
.ux.column.scroll{
  overflow-y: auto;
  overflow-x: hidden;
}
.ux.column{
  position: relative;
  float: left;
}
.ux.column.left.double{
  margin-left: -508px;
  width: 508px
}
.ux.column.right{
  margin-right: -268px;
  width: 268px;
}
.ux.column.center{
  width: 100%;
}
.ux.column.balance{
  width: 200px;
}
.ux.column.orders{
  width: 308px;
}
.ux.column.chart{
  float: none !important;
}
.ux.column.history{
  width: 268px;
}

.ux.grid .column.padding{
  margin: -0.2rem 0 0 !important;
  padding: 0 !important;
  height: 100% !important;
}
.ux.grid > .column .h50.segment{
  height: 50% !important;
  margin: 0 0 0.2rem 0;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  overflow-y: hidden;
  overflow-x: hidden;
}

.ux.grid > .column .h100.segment{
  height: 100% !important;
  margin: 0.1rem;
  padding-top: 4em !important;
  overflow-y: hidden;
  overflow-x: hidden;
}

.ux.grid > .column .h100.segment.noheader{
  padding-top: 1em !important;
}

.ux.grid > .column .h100.segment.tabheader{
  padding-top: 3em !important;
}

.ux.container{
  position: relative;
  overflow: hidden;
}

.ux.container.h100{
  height: 100%;
}

.ux.container.fix400{
  padding-top: 450px;
  height: 100%
}

.ux.container.fixchart{
  height: 450px;
  margin-top: -450px;
}

.ux.container.fixorders{
  height: 100%;
}

.ux.forscroll{
  height: 100%;
  overflow-x: hidden;
  z-index: 1;
}
.ux.forscroll > .scrollable100{
  width: 10000%;
  overflow-y: auto;
  z-index: 1;
}
.ux.forscroll > .scrollable100 > table{
  width: 1%;
  z-index: 1;
}

.ux .ui.basic.segment.h100{
  padding: 0.1em;
}

.ux .ui.header{
  padding-left: 0.6em;
}

/* UX grid */


/*colors*/
.ui .blue.text{color: #2185d0 !important}
.ui .red.text{color: #db2828 !important}
.ui .orange.text{color: #f2711c !important}
.ui .yellow.text{color: #fbbd08 !important}
.ui .olive.text{color: #b5cc18 !important}
.ui .green.text{color: #21ba45 !important}
.ui .teal.text{color: #00b5ad !important}
.ui .violet.text{color: #6435c9 !important}
.ui .purple.text{color: #a333c8 !important}
.ui .pink.text{color: #e03997 !important}
.ui .brown.text{color: #a5673f !important}
.ui .grey.text{color: #767676 !important}
.ui .white.text{color: #ffffff !important}
.ui .black.text{color: #1b1c1d !important}

.ui .markered.text{color: #ffffff !important}

.ui .blue.markered.text, .ui .blue.markered.text:hover{background-color: #2185d0 !important; }
.ui .red.markered.text, .ui .blue.markered.text:hover{background-color: #db2828 !important}
.ui .orange.markered.text, .ui .blue.markered.text:hover{background-color: #f2711c !important}
.ui .yellow.markered.text, .ui .blue.markered.text:hover{background-color: #fbbd08 !important}
.ui .olive.markered.text, .ui .blue.markered.text:hover{background-color: #b5cc18 !important}
.ui .green.markered.text, .ui .blue.markered.text:hover{background-color: #21ba45 !important}
.ui .teal.markered.text, .ui .blue.markered.text:hover{background-color: #00b5ad !important}
.ui .violet.markered.text, .ui .blue.markered.text:hover{background-color: #6435c9 !important}
.ui .purple.markered.text, .ui .blue.markered.text:hover{background-color: #a333c8 !important}
.ui .pink.markered.text, .ui .blue.markered.text:hover{background-color: #e03997 !important}
.ui .brown.markered.text, .ui .blue.markered.text:hover{background-color: #a5673f !important}
.ui .grey.markered.text, .ui .blue.markered.text:hover{background-color: #767676 !important}
.ui .white.markered.text, .ui .blue.markered.text:hover{background-color: #ffffff !important; color: #1b1c1d !important;}
.ui .black.markered.text, .ui .blue.markered.text:hover{background-color: #1b1c1d !important}

/*     globals     */
.tiny.button {
  font-size: .85714286rem !important;
}

.mini.button {
  font-size: .71428571rem !important;
}

.nopaddingtop{
  padding-top: 0 !important;
}
.nopaddingtop th{
  padding-top: 0.4em !important;
  padding-bottom: 0.4em !important;
}
.scrollable10rows{
  height: 26em !important;
  overflow-y: auto;
}

.scrollable50{
  height: 50% !important;
  overflow-y: auto;
}

.scrollable100{
  height: 100% !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.ui.form .field.nomargin{
  margin: 0 0 0.4em !important;
}

.field .right.aligned{
  float: right;
  margin-right: 0;
}



.segment.small {
  padding: 0.5em;
}

.nopadding {
  padding: 0 !important;
}

tr.lesspadding th {
  padding: 0.5em !important;
  padding-top: 0.2em !important;
}

.nomargin { margin: 0 !important; }

/* notifications */

.ui.down.floating{
  top:1.8em !important;
  left:53% !important;
}
.ui.item.pointer{
  cursor: pointer;
}
.notification.container{
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 350px;
  z-index: 9999;
}

.item .ui.header .icon{
  vertical-align: inherit !important;

}

.ui.table td.info, .ui.table tr.info {
    box-shadow: 0 0 0 #a9d5de inset;
    background-color: #f8ffff;
    color: #276f86;
}

.ui.table td.chat, .ui.table tr.chat {
    background: #f6e7ff;
    color: #a333c8 !important;
}

/* notifications */

/* semantic input */

.ui.input[class*="right left action"] > input, .ui.input[class*="left right action"] > input  {
    border-radius: 0 !important;
    border-left: medium none;
    border-right: medium none;
}


.ui.action.input[class*="right left action"] > .button:first-child,
.ui.action.input[class*="right left action"] > .buttons:first-child > .button,
.ui.action.input[class*="right left action"] > .dropdown:first-child,
.ui.action.input[class*="left right action"] > .button:first-child,
.ui.action.input[class*="left right action"] > .buttons:first-child > .button,
.ui.action.input[class*="left right action"] > .dropdown:first-child{
    border-radius: 0.285714rem 0 0 0.285714rem !important;
}
.ui.labeled.input > .label:first-child{
    border-radius: 0.285714rem 0 0 0.285714rem !important;
}
.ui.labeled.input > .label:last-child{
    border-radius: 0 0.285714rem 0.285714rem 0 !important;
}
/* \semantic input */


/* Semantic sidebar */
.ui.sidebar {
    position: fixed !important;
    overflow-y: visible !important;
}
.forsidebar{
  position: fixed;
  right: 0px;
  top: 80px;
  width: 60px;
  z-index: 999;
  opacity: 0.3;
}
.forsidebar.above{
  z-index: 9999;
}

.ui.visible.right.sidebar ~ .fixed, .ui.visible.right.sidebar ~ .pusher {
    padding-left: 260px;
    transition: padding-left 500ms, transform 500ms ease 0s;
}

.ui.right.sidebar ~ .fixed, .pushable .pusher {
    padding-left: 0px;
    transition: padding-left 500ms, transform 500ms ease 0s;
}

.contwrapper{
  height: 100% !important;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}
.pushable > .pusher {
  height: 100% !important;
}


/* Semantic sidebar */

/* Semantic chat */

.ui.chat{
  height: 100% !important;
  padding-bottom: 140px !important;
  margin-right: -10px;
}

.ui.chat.comments{
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 0 !important;
}

.ui.chatform{
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 240px
}

/* Semantic chat */

/* LANDING */

.ld{
  position: relative;
  height: 100%;
  overflow-y: auto;
  font-family: Arial, sans-serif !important;
}

.ld .block{
  position: relative;
  width: 100%;
  height: 100%;
}

.ld .block.background{
  display: block;
  background-image: url("/bg_video.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.ld .block .videogrid{
  background-image: url("/bg.png");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
}

#video_background{
  width: 100%;
}

.ld .block .promo{
  margin: -70px auto 0;
  position: absolute;
  text-align: center;
  top: 50%;
  height: inherit;
  width: inherit;
}
.ld .button{
  text-transform: uppercase;
}

.ld .block .promo h1{
  font-size: 4rem;
  font-weight: normal;
}
.ld .block .promo p{
  font-size: 1.5rem;
  font-weight: normal;
}


.ld .block.white{
  background: #fff;
}

/* LANDING */
